.input-field {
    border: none;
    border-bottom: 2px solid white;
}

body {
    -fx-background-image: url("tanger.jpeg"); /* Background image */
    -fx-background-size: cover; /* Ensures the image covers the container */
    -fx-background-position: center; /* Centers the image */
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
}