.close{
    -fx-background-color: #ff2929;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #000;
}

.transparent {
    -fx-background-color: transparent;
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.radius100{
    -fx-background-radius: 100px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.main-bg {
    -fx-background-color: linear-gradient(to bottom right, #274f72, #143650); /* Background color */
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #0d9642, #1a722c);
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0abfa4, #00d079);
}

.ai-btn {
    -fx-background-color: white;
    -fx-background-radius: 100px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 100, 0, 0, 0);
    -fx-cursor: hand;
}

.send-btn {
    -fx-background-color: linear-gradient(to bottom, #274f72, #143650);
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 100px;
    -fx-cursor: hand;
}

.send-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #274f72, #143650);
    -fx-opacity: 90%;
}

.btn-danger {
    -fx-background-color: linear-gradient(to bottom right, #fb1b2f, #ff2929);
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.btn-danger:hover{
    -fx-background-color: linear-gradient(to bottom right, #ff3b4b, #ef2e2e);
}

.logout-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #fff;
    -fx-border-width: .8px;
    -fx-text-fill: #fff;
}

.logout-btn:hover {
    -fx-background-color: #FF3547;
    -fx-border-color: #FF3547;
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #fff;
    -fx-border-width: .8px;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
    -fx-background-color: #0abfa4;
    -fx-border-color: #0abfa4;
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #0d9642, #1a722c);
    -fx-border-radius: 8px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #0d9642, #1a722c);
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{

    -fx-text-fill: #fff;
}